<mat-toolbar class="menu-bar">
<ng-container *ngIf="(error$ | async) && !loading">
  <mat-icon color="warn">error</mat-icon>
  <span style="margin:0 10px;">An error was encountered while fetching categories</span>
  <button mat-raised-button color="warn" (click)="retry()">
    <mat-icon>refresh</mat-icon>
    Retry
</button>

</ng-container>
<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle *ngFor="let item of categories;" [value]="item" [routerLink]="['products', item.id]" routerLinkActive="active-link" disableRipple="false">{{item.categoryName}}</mat-button-toggle>
</mat-button-toggle-group>

  <div *ngIf="loading"  style="display: flex; justify-content: center; align-items: center; background: transparent;">
    <app-mat-spinner-overlay [overlay]="false" [diameter]="50">
    </app-mat-spinner-overlay>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>
