<!-- <div *ngIf="!categories2?.length">
no data
</div> -->
<mat-toolbar color="accent" class="menu-bar" *ngIf="categories2?.length">
  <span *ngFor="let item of categories2">
    <button mat-button color="primary" [routerLink]="['products', item.id]"  routerLinkActive="active-link">
      {{ item.categoryName }}
    </button>
  </span>
  <span class="flex-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/manager">
    Manager
  </button>
  <span class="flex-spacer"></span>

<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="grid"(click)="setDisplayType2(displayTypes.DISPLAY_GRID)" routerLinkActive="active-link">
    <mat-icon>grid_view</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="list"(click)="setDisplayType2(displayTypes.DISPLAY_LIST)" routerLinkActive="active-link">
    <mat-icon>view_list</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
</mat-toolbar>
<router-outlet></router-outlet>
