<mat-toolbar>
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <a mat-button routerLink="/shop">
    <img src="./../assets/RumexLogo.png" alt="Rumex Logo">
  </a>
  <p><span>{{InnerWidth()}} - </span><span>{{InnerHeight()}}</span></p>

  <span class="flex-spacer"></span>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle [routerLink]="['/manager']" >
      <mat-icon>manager</mat-icon>
      <ng-container *ngIf="showText()">Manager</ng-container>
    </mat-button-toggle>
    <mat-button-toggle [routerLink]="['shop']">
      <mat-icon>shop</mat-icon>
      <ng-container *ngIf="showText()">Products</ng-container>
    </mat-button-toggle>
    <mat-button-toggle [routerLink]="['cart']">      
      <mat-icon>shopping_cart</mat-icon>
      <ng-container *ngIf="showText()">Cart</ng-container>
    </mat-button-toggle>
    <mat-button-toggle [routerLink]="['about']">About Us</mat-button-toggle>
    <mat-button-toggle value="account">
      <mat-icon>account_circle</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <!-- <app-auth></app-auth> -->
</mat-toolbar>
<router-outlet></router-outlet>
