<mat-toolbar color="primary">
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <a mat-button routerLink="/shop"><h1>Rumex Store Demo</h1></a>
  <span class="flex-spacer"></span>
  <!-- <span class="spacer"></span> -->
  <a mat-flat-button color="primary" routerLink="/
  products">Products</a>
  <a mat-flat-button color="primary" routerLink="/cart">Cart</a>
  <a mat-flat-button color="primary" routerLink="/about">About Us</
  a>
  <!-- <app-auth></app-auth> -->
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
