<ng-container *ngIf="(error$ | async) && !loading">
  <app-error-card
    (retry)="retry()"
    message="An error was encountered with the requested page while fetching Product with ProductId = {{
      id
    }}"
  ></app-error-card>
</ng-container>

<div *ngIf="!loading && !(error$ | async)" id="container">
  <mat-card *ngIf="product" class="product-card">
    <div class="grid-container">
      <img
        mat-card-image
        src="{{ config.imageBaseUrl }}{{ product.imageUrl }}"
        alt="Photo of a product"
      />
      <div class="grid-item">
        <mat-card-header>
          <mat-card-title>
            <h1>{{ product.name }}</h1>
          </mat-card-title>
          <mat-card-subtitle>
            {{ product.price | currency: 'CAD' }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p [innerHTML]="product.description"></p>
        </mat-card-content>
        <mat-card-actions>
          <mat-toolbar>
            <mat-form-field appearance="fill"  >
              <mat-label>Quantity</mat-label>
              <input
                type="number"
                matInput
                required
                class="class-input"
                placeholder="0"
              />
              <mat-hint align="start">Enter number of items to add to cart</mat-hint>
            </mat-form-field>
            <button type="button" mat-stroked-button>
              <mat-icon>add_shopping_cart</mat-icon>
              Add to Cart
            </button>

          </mat-toolbar>
        </mat-card-actions>
      </div>
    </div>
    <mat-card-footer> Copyright © 2023 Rumex Consulting. </mat-card-footer>
  </mat-card>
</div>
<div
  *ngIf="loading"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  "
>
  <app-mat-spinner-overlay [overlay]="true" [diameter]="70">
  </app-mat-spinner-overlay>
</div>
