mat-card.product-card {
  border: none;
  width: 100%;
  @media screen and (min-width: 577px) {
    width: 90%;
  }
  @media screen and (min-width: 768px) {
    width: 80%;
  }
  margin: 1vh auto;
  padding: 0;
  height: auto;
  img {
    margin: 0 auto;
    width: 90vw;
    object-fit: cover;
    object-position: top;
    box-shadow: rgba(hsl(348, 68%, 34%), 0.24) 0px 3px 8px;
    @media (min-width: 577px) {
      width: 40vw;
    }
  }
  mat-card-header {
    mat-card-title h1,
    mat-card-subtitle {
      color: var(--primary-color);
      font-size: large;
      @media (min-width: 577px) {
        font-size: x-large;
      }
    }
  }
  mat-card-actions {
    mat-toolbar {
      box-shadow: rgba(hsl(348, 68%, 34%), 0.24) 0px 3px 8px;
    }
    mat-button-toggle-group {
      mat-button-toggle {
        color: var(--primary-color);
        &:hover {
          color: var(--primary-color-lighter-13);
          background-color: var(--primary-color);

          font-weight: bold;
        }
      }
    }
  }
  mat-card-footer {
    @media (max-width: 576px) {
      display: flex;
    }
  }
  .grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    @media screen and (min-width: 577px) {
      grid-template-columns: auto auto;
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: auto auto;
    }
    .grid-item {
      overflow: hidden;
      max-width: 100%;
      width: 90vw;
      box-shadow: rgba(hsl(348, 68%, 34%), 0.24) 0px 3px 8px;
      margin: 0 auto;
      position: relative;
      @media screen and (min-width: 577px) {
        width: 100%;
      }
    }
  }
}

// input.class-input::-webkit-outer-spin-button,
// input.class-input::-webkit-inner-spin-button {
//   display: none;
// }

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
  padding: 8px;
  align-items: start;
  color: var(--primary-color);
  justify-content: space-between;
  mat-form-field {
    mat-label {
      color: var(--primary-color);
    }

    input.class-input {
      font-size: larger;
      color: var(--primary-color) !important;
      text-align: center !important;
      -moz-appearance: textfield;
    }
  }
}
mat-toolbar-row.second-row {
  justify-content: end;
}

::ng-deep .mdc-floating-label--required {
  color: var(--primary-color) !important;
}

::ng-deep .mdc-text-field--filled {
  border-bottom: solid 1px var(--primary-color) !important;
  max-width: 95%;
  &:hover {
    border-bottom: solid 2px var(--primary-color) !important;
  }
}
::ng-deep .mdc-line-ripple::after {
  border-bottom: solid 2px var(--primary-color) !important;
}
.last-button-right {
  float: right;
  margin: 0 1vw 1vh 0;
  color: var(--primary-color);
  @media (max-width: 576px) {
    margin: 1vh auto;
  }
}

button {
  border: solid 1px var(--primary-color) !important;
  @media (max-width: 576px) {
    justify-content: end;
    height: 56px !important;
  }
  &:hover {
    border-bottom: solid 2px var(--primary-color) !important;
  }
}
::ng-deep .mat-mdc-form-field-hint {
  @media (max-width: 768px) {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }
}
