mat-card {
    border: 2px solid var(--primary-color) !important;
}

.product-card{
   background-color: var(--primary-color);
   margin: 5vh auto;
   width: 75vw;
   padding: 0;
}
mat-card.card2{
    background-color: var(--primary-color-lighter-12);
    width: 37vw;
    @media screen and (max-width: 768px) {
        width: 73vw;
    }
    height: 82vh;
    .price {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--primary-color);
        line-height: 1vh;
    }
    mat-card-title{      
    h1 {
        color: var(--primary-color);
        font-size: 1.5rem;
        font-weight: 500;
      }
}

}
mat-card.card1{
    width: 37vw;
    @media screen and (max-width: 768px) {
        width: 73vw;
    }
    height: 82vh;
    img {
        margin: 1vw auto;
        width: 30vw;
        @media screen and (max-width: 768px) {
            width: 68vw;
        }
        height: 70vh;
        object-fit: cover;
        object-position: top;
    }
}
  mat-button-toggle {
    height: 36px;
    align-items: center;
    display: flex;
    color: var(--primary-color-lighter-13);
    background-color: var(--primary-color);
    &:hover {
        color: var(--primary-color-lighter-10);
        background-color: var(--primary-color-lighter-3);
        font-size: 1.01em;
    }
}
mat-button-toggle-group {
  flex-wrap: wrap;
  align-items: center;
}
mat-nav-list.list-horizontal {
    position: relative;
  margin: 0.5vh auto;
    mat-list-item {
        mat-card-actions{
            position: absolute;
            bottom: 2vh;
            right: 1vw;
        }
    margin-right: 0vh;
    margin-left: 0;
    padding: 0;
    mat-card-content{
        white-space: break-spaces;     
    p{
        padding: 0 0.5vw;
    }
    }
    display: inline-block;
    @media screen and (max-width: 768px) {
        display:flex;
    }
    height: auto;
    width: auto;
  }
}
