<mat-toolbar>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle [routerLink]="['/manager/home']" routerLinkActive="active-link">      
        <mat-icon>dashboard</mat-icon>
        Manager's Dashboard</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/manager/products']" routerLinkActive="active-link">Products Management</mat-button-toggle>
    <mat-button-toggle [routerLink]="['/manager/orders']" routerLinkActive="active-link">Orders Management</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
<router-outlet></router-outlet>
