mat-toolbar{
    background-color: var(--primary-color-lighter-1);
    color: antiquewhite;
    height: auto;
    padding: 4px;
}
mat-button-toggle-group {
  flex-wrap: wrap;
}


.mat-button-toggle {
    height: 36px;
    align-items: center;
    display: flex;
    &:hover {
        color: var(--primary-color-lighter-7);
        background-color: var(--primary-color-lighter-1);
        font-size: 1.02em;
    }
}
.mat-button-toggle-checked, .active-link {
        color: var(--primary-color-lighter-7);
        background-color: var(--primary-color-dark);
        font-size: 1.02em;
} 
