<!-- <h4 class="heading">Our trusted products</h4> -->
<cdk-virtual-scroll-viewport class="list list-group" [itemSize]="110">
  <div
    class="list__item list-group-item2"
    *cdkVirtualFor="let product of products"
  >
    <a (click)="navigateToProductDetails(product.id)">
<mat-card class="mb-4">
  <mat-card-content style="display: flex;">
    <img style="height: 100px; width: auto;" 
        src={{config.imageBaseUrl}}{{product.imageUrl}}
    alt="...">
    <div class="pl-2" style="width: 100%">
      <h4>{{product.name}} <span style="float: right; color: #17a2b8;">${{product.price}}</span></h4>
      <p [innerHTML]="product.description|wordWrap:140"></p>
      <form class="d-flex align-items-center flex-wrap justify-content-end">
        <div class="btn-toolbar" role="toolbar">
          <button mat-flat-button color="primary">
            Add to cart
          </button>
          <button mat-stroked-button color="primary">
            Add for free
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
  </a>
  </div>
</cdk-virtual-scroll-viewport>

