
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rumexstore-angular-primary: mat.define-palette(mat.$indigo-palette);
$rumexstore-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rumexstore-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rumexstore-angular-theme: mat.define-light-theme((
  color: (
    primary: $rumexstore-angular-primary,
    accent: $rumexstore-angular-accent,
    warn: $rumexstore-angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rumexstore-angular-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.horizontal-padding {
margin-left: 16px;
margin-right: 16px;
}
.flex-spacer {
flex: 1 1 auto;
}
.flex-spacer-half {
flex: 0.5 1 auto;
}

:root 
{
  --primary-color: hsl(348, 68%, 34%);
  --primary-color-dark: hsl(348, 68%, 27%);
  --primary-color-darker-1: hsl(348, 68%, 22%);
  --primary-color-darker-2: hsl(348, 68%, 17%);
  --primary-color-darker-3: hsl(348, 68%, 12%);
  --primary-color-darker-4: hsl(348, 68%, 10%);
  --primary-color-lighter-1: hsl(348, 68%, 41%);
  --primary-color-lighter-2: hsl(348, 68%, 48%);
  --primary-color-lighter-3: hsl(348, 68%, 53%);
  --primary-color-lighter-4: hsl(348, 68%, 58%);
  --primary-color-lighter-5: hsl(348, 68%, 63%);
  --primary-color-lighter-6: hsl(348, 68%, 68%);
  --primary-color-lighter-7: hsl(348, 68%, 73%);
  --primary-color-lighter-8: hsl(348, 68%, 78%);
  --primary-color-lighter-9: hsl(348, 68%, 83%);
  --primary-color-lighter-10: hsl(348, 68%, 88%);
  --primary-color-lighter-11: hsl(348, 68%, 93%);
  --primary-color-lighter-12: hsl(348, 68%, 95%);
  --primary-color-lighter-13: hsl(348, 68%, 98%);
}
 
