mat-grid-list {
    margin: 2em 2em 0 2em;
}

mat-card {
    border: 1px solid lightgray !important;
    display: flex;
    flex-direction: column;
    max-height: 370px;
    width:250px;
    align-items: center;
}

img {
    // max-width: 225px;
    width: auto;
    height: 180px;
    border-bottom: 1px solid lightgray;
}

// .grid-layout {
//     width: 95vw;
// }

mat-grid-tile {
  background: lightblue;
}

.viewport {
  height: 500px;
//   max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e9e7e9;
}